# Git
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias dif='git diff'

# Docker
alias dc='docker-compose'
alias dm='docker-machine'

# Make destructive commands interactive
alias mv='mv -i'
alias cp='cp -i'
alias rm='rm -i'

# Create intermediary directories by default
alias mkdir='mkdir -p'

# Human readable defaults
alias df='df -H'
alias du='du -H'
